@charset "utf-8";
.ssi_body .keyline .stickyfooter_wrapper5 {
  min-height: 100%;
  margin-bottom: -71px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  height: auto;
  -webkit-box-shadow: -1px 6px 44px 9px rgba(175,148,76,1.00);
  box-shadow: -1px 6px 44px 9px rgba(175,148,76,1.00);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: cover;
  background-image: url(../img/board-room.jpg), -o-linear-gradient(90deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%);
  background-image: url(../img/board-room.jpg), -webkit-linear-gradient(90deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%);
  background-image: url(../img/board-room.jpg), -moz-linear-gradient(90deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%);
  background-image: url(../img/board-room.jpg), linear-gradient(0deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%);
  padding-bottom: 0px;
  z-index: 0;
  padding-top: 0px;
}
