@charset "utf-8";
html , .ssi_body{
    height: 100%;
    margin: 0;
}
.ssi_body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    /* [disabled]font-size: 17px; */
    /* [disabled]line-height: 23px; */
    /* [disabled]color: #333333; */
    background-image: url(../img/bg.png), -o-linear-gradient(0deg,rgba(81,79,86,1.00) 0%,rgba(181,181,181,1.00) 100%,rgba(0,0,0,1.00) 100%);
    background-image: url(../img/bg.png), -webkit-linear-gradient(0deg,rgba(81,79,86,1.00) 0%,rgba(181,181,181,1.00) 100%,rgba(0,0,0,1.00) 100%);
    background-image: url(../img/bg.png), -moz-linear-gradient(0deg,rgba(81,79,86,1.00) 0%,rgba(181,181,181,1.00) 100%,rgba(0,0,0,1.00) 100%);
    background-image: url(../img/bg.png), linear-gradient(90deg,rgba(81,79,86,1.00) 0%,rgba(181,181,181,1.00) 100%,rgba(0,0,0,1.00) 100%);
    position: relative;
    background-repeat: no-repeat;
}
.keyline {
    border: 1px solid #9a9888;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding-bottom: 9px;
    padding-top: 9px;
}
.stickyfooter_wrapper {
    min-height: 100%;
    margin-bottom: -71px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    /* [disabled]font-variant: normal; */
    /* [disabled]text-shadow: 0px 0px; */
    height: auto;
    position: relative;
    -webkit-box-shadow: -1px 6px 44px 9px rgba(175,148,76,1.00);
    box-shadow: -1px 6px 44px 9px rgba(175,148,76,1.00);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    background-image: -webkit-linear-gradient(90deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%), url(../img/lake_crop4.jpg);
    background-image: -moz-linear-gradient(90deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%), url(../img/lake_crop4.jpg);
    background-image: -o-linear-gradient(90deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%), url(../img/lake_crop4.jpg);
    background-image: linear-gradient(0deg,rgba(244,246,249,0.42) 0%,rgba(255,255,255,0.00) 100%), url(../img/lake_crop4.jpg);
    background-blend-mode: overlay;
}
.container {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    position: relative;
    bottom: auto;
    /* [disabled]border: medium solid #E7161A; */
}
.page3 .container .nearest {
    position: absolute;
    padding-top: 0px;
    left: 939px;
    top: 245px;
    font-size: 11px;
    color: #04385D;
    font-weight: 900;
    line-height: 27px;
}

.black {
    background-image: -webkit-linear-gradient(157deg,rgba(203,197,184,1.00) 29.56%,rgba(174,144,105,1.00) 100%), url(../img/black.png);
    background-image: -moz-linear-gradient(157deg,rgba(203,197,184,1.00) 29.56%,rgba(174,144,105,1.00) 100%), url(../img/black.png);
    background-image: -o-linear-gradient(157deg,rgba(203,197,184,1.00) 29.56%,rgba(174,144,105,1.00) 100%), url(../img/black.png);
    background-image: linear-gradient(293deg,rgba(203,197,184,1.00) 29.56%,rgba(174,144,105,1.00) 100%), url(../img/black.png);
    padding-bottom: 4px;
    padding-left: 0px;
    width: 708px;
    position: absolute;
    /* [disabled]left: 200px; */
    height: 632px;
    float: right;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    opacity: 0.96;
}

header .container {
    height: 100%;
}

.stickyfooter_wrapper footer .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
    color: #FFF;
}
.plate   {
	position: relative;
	top: -45px;
	display: inline-block;
	-webkit-box-shadow: -4px 5px 16px -2px #000000;
	box-shadow: -4px 5px 16px -2px #000000;
	left: -45px;
	/* [disabled]width: 140px; */
	z-index: 0;
	margin-left: 28px;
	/* [disabled]height: 141px; */
}
header .container .text_logo {
	display: inline-block;
	position: relative;
	left: -76px;
	top: -23px;
	/* [disabled]width: 183px; */
	height: 47px;
	z-index: 5;
}
.page_title  {
    display: inline-block;
    color: rgba(255,255,255,0.93);
    font-size: 24px;
    padding-top: 17px;
    padding-left: 6px;
    background-color: #8B123B;
    width: 253px;
    line-height: 12px;
    height: 30px;
    z-index: 6;
    position: relative;
    margin-bottom: 2px;
    font-weight: 400;
    opacity: 1;
}
/*li a  {
    text-decoration: none;
    font-size: 17px;
    color: #BCB4B1;
    z-index: 0;
}*/
footer .container .address {
	/* [disabled]color: #BCB4B1; */
	left: 12px;
	position: relative;
}
header .container .navigation {
	display: inline-block;
	position: relative;
	top: 3px;
	text-shadow: -1px 1px #000000;
	left: -93px;
	z-index: 5;
	font-size: 15px;
	margin-right: -36px;
}
.vr   {
    display: inline-block;
    float: right;
    position: relative;
    top: 21px;
    left: -14px;
    z-index: 5;
}
header   {
    height: 129px;
    background-color: #04385D;
    -webkit-box-shadow: -1px 5px 9px 2px #77797E; 
    -moz-box-shadow: inset;
    box-shadow: -1px 5px 9px 2px #77797E; 
    position: relative;
    z-index: 12;
}
.container .navigation .nav {
	list-style-type: none;
}
footer   {
    height: 71px;
    background-color: #04385D;
    border-bottom-right-radius: 0;
    z-index: 10;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    -webkit-box-shadow: -4px 6px 13px -5px;
    box-shadow: -4px 6px 13px -5px;
}
.nav > .active > a {
	font-weight: 900;
	color: #FFFFFF;
}
a {
    text-decoration: none;
}
.page3 .container .enlarge2 {
	color: rgba(0,81,103,0.60);
	position: absolute;
	font-size: small;
	display: inline-block;
	bottom: 161px;
	float: left;
	left: 753px;
	padding-bottom: 3px;
	background-color: hsla(0,0%,100%,0.82);
	padding-left: 7px;
	padding-right: 7px;
	line-height: 17px;
	text-shadow: -1px 1px 2px rgba(255,255,255,0.40);
}

/*p {
    line-height: 21px;
}*/
.white_backing {
    width: 259px;
    display: inline-block;
    position: relative;
    height: 628px;
    background-color: hsla(0,0%,100%,0.82);
    border-left: thick solid #AC946C;
    padding-top: 10px;
}
#the_buiding_text {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 225px;
	color: #04385D;
	font-style: normal;
	list-style-type: none;
	position: relative;
	z-index: 10;
	height: auto;
	-webkit-font-smoothing: antialiased;
	font-variant: normal;
	padding-left: 18px;
	line-height: 21px;
}
.art {
    text-align: center;
    left: -10px;
    border-top: thin groove #E8E8E8;
    margin-left: 10px;
    padding-left: 14px;
    padding-right: 8px;
    width: 237px;
    height: 214px;
    background-size: 106% auto;
    background-repeat: no-repeat;
    background-position: -12px 0%;
    position: absolute;
    background-color: rgba(251,246,224,0.50);
    display: inline-block;
    bottom: 0px;
}
#art_text {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 10px;
    top: -1px;
    text-align: left;
    line-height: 15px;
    width: 242px;
    position: relative;
    font-weight: 500;
}
#logo_art {
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 5px;
    background-position: 5px 1px;
    background-image: url(../img/art_logo.jpg);
    background-repeat: no-repeat;
    margin-top: -14px;
    position: relative;
    display: inline-block;
    font-size: 11px;
    width: 200px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size: 27% auto;
    left: -9px;
    height: 44px;
    top: 8px;
    font-weight: 500;
    margin-bottom: -1px;
}
.the_building_slider {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 667px;
    height: 587px;
    left: 285px;
    padding-left: 0px;
    top: 23px;
}
.pdf {
    border-width: thin thin thin thick;
    border-style: inset inset inset solid;
    height: 32px;
    width: 238px;
    -webkit-box-shadow: -4px 4px 7px hsla(0,0%,2%,0.49);
    box-shadow: -4px 4px 7px hsla(0,0%,2%,0.49);
    border-left-color: rgba(172,148,108,1.00);
    background-color: hsla(46,72%,93%,0.90);
    position: relative;
}
.pdf_1   {
    position: absolute;
    bottom: -407px;
    left: 975px;
    top: 682px;
}
.footnote   {
	width: 965px;
	position: absolute;
	top: 633px;
	left: 0px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	color: #04385D;
	font-weight: lighter;
	font-size: x-small;
	height: 41px;
	background-color: #CCC6B8;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pdf_text {
	margin-left: -9px;
	font-size: 16px;
	margin-top: -11px;
	padding-left: 17px;
	line-height: 21px;
	width: 230px;
	position: relative;
	z-index: 999;
}
.pdf_a {
	width: 91px;
	left: 0px;
	padding-left: 62px;
	margin-top: -12px;
	top: -4px;
	padding-top: 7px;
	margin-bottom: 0px;
	padding-right: 114px;
	background-image: url(../img/pdf.gif);
	background-repeat: no-repeat;
	padding-bottom: 9px;
	background-position: 69px 4px;
	background-size: 10% auto;
}
.slider2 {
    padding-left: 0px;
    margin-left: 8px;
    height: 128px;
    overflow-y: hidden;
}
.slider2 .pic {
    padding-right: 10px;
    width: 168px;
}
.container #overflow_control .enlarge2 {
	color: rgba(0,81,103,0.60);
	position: absolute;
	font-size: small;
	display: inline-block;
	bottom: 161px;
	float: left;
	left: 753px;
	padding-bottom: 3px;
	background-color: hsla(0,0%,100%,0.82);
	padding-left: 7px;
	padding-right: 7px;
	line-height: 17px;
	text-shadow: -1px 1px 2px rgba(255,255,255,0.40);
}
rounded {
    background-color: #e3d4a2;
    color: #252d64 !important;
    border: 1px solid #e3d4a2;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    float: left;
    font-size: 14px;
    min-height: 28px;
    padding: 5px 10px;
    text-align: center;
    display: block;
}
.sidenote {
    width: 242px;
    position: absolute;
    top: -4px;
    left: 975px;
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.83) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.83) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.83) 100%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.83) 100%,rgba(255,0,0,1.00) 100%);
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    color: #003399;
    border-left: thick solid #AC946C;
    line-height: 20px;
    z-index: -128;
    height: 592px;
}
.page1 .container .building_pic {
}
