/*@charset "utf-8";
.container .row #port {
    top: 46px;
    height: 900px;
    width: 1000px;
}
.row #port iframe {
    height: 853px;
    text-align: center;
    width: 950px;
}
.nav-stackedvr {
    position: relative;
    bottom: 99px;
    left: 607px;
    text-shadow: -1px 1px 4px #000000;
    border-width: 1px;
    border-style: groove;
    padding-left: 15px;
    padding-right: 27px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #6A6161;
	font-weight: normal;
    font-size: 16px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    opacity: 0.95;
}*/