/******************************
*
*  RoyalSlider 66 Skin (missing sections have been removed since unused)
*
*    1. Arrows 
*    2. Tabs
*    3. Preloader
*     
******************************/
/***************
*
*  1. Arrows
*
****************/
.rsDefault .rsArrow {
  height: 100%;
  width: 48px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}
.rsDefault.rsVer .rsArrow {
  width: 100%;
  height: 48px;
}
.rsDefault.rsVer .rsArrowLeft {
  top: 0;
  left: 0;
}
.rsDefault.rsVer .rsArrowRight {
  bottom: 0;
  left: 0;
}
.rsDefault.rsHor .rsArrowLeft {
	left: 37px;
	top: 15px;
}
.rsDefault.rsHor .rsArrowRight {
	right: 30px;
	top: 0;
}
.rsDefault .rsArrowIcn {
	width: 100px;
	height: 109px;
	top: 49%;
	left: 50%;
	margin-top: -50px;
	margin-left: -53px;
	position: absolute;
	cursor: pointer;
	background: url('../img/rsvr.png');
	padding-top: 0px;
	/* [disabled]overflow-x: hidden; */
	/* [disabled]overflow-y: hidden; */
}
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn,
.rsDefault.rsHor .rsArrowDisabled.rsArrowLeft:hover .rsArrowIcn {
  background-position: -42px -95px;
}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn,
.rsDefault.rsHor .rsArrowDisabled.rsArrowRight:hover .rsArrowIcn {
  background-position: -42px -183px;
}
.rsDefault.rsHor .rsArrowLeft:hover .rsArrowIcn {
  background-position: -312px -95px;
}
.rsDefault.rsHor .rsArrowRight:hover .rsArrowIcn {
  background-position: -312px -183px;
}
.rsDefault .rsArrowDisabled .rsArrowIcn {
	opacity: 0.1;

  *display: none;
	cursor: default;
}


/*.rsDefault .rsArrow {
  height: 70%;
  width: 48px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}
.rsDefault.rsVer .rsArrow {
  width: 100%;
  height: 48px;
}
.rsDefault.rsVer .rsArrowLeft {
  top: 0;
  left: 0;
}
.rsDefault.rsVer .rsArrowRight {
  bottom: 0;
  left: 0;
}
.rsDefault.rsHor .rsArrowLeft {
  left: 30px;
  top: 0;
}
.rsDefault.rsHor .rsArrowRight {
  right: 30px;
  top: 0;
}

.rsDefault .rsArrowIcn {
	width: 143px;
	height: 100px;
	top: 65%;*//*changed from 50% to 70%*/
	/*left: 50%;*/
	/* [disabled]margin-top: -100px; */
/*	margin-left: -104px;
	position: absolute;
	cursor: pointer;
	background-image: url(../img/rsx.png);
	background-repeat: no-repeat;
	margin-bottom: 0px;
}
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn,
.rsDefault.rsHor .rsArrowDisabled.rsArrowLeft:hover .rsArrowIcn {
  background-position: -42px -95px;
}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn,
.rsDefault.rsHor .rsArrowDisabled.rsArrowRight:hover .rsArrowIcn {
	background-position: 1px -175px;
	opacity: 0.34;
}
.rsDefault.rsHor .rsArrowLeft:hover .rsArrowIcn {
	background-position: -312px -95px;
	opacity: 1;
}
.rsDefault.rsHor .rsArrowRight:hover .rsArrowIcn {
	opacity: 1;*/	/*background-position: 1px -22px;*/
/*}
.rsDefault .rsArrowDisabled .rsArrowIcn {
	opacity: 0.1;


  *display: none;
	cursor: default;
}*/
/***************
*
*  2. Tabs
*
****************/
.rsDefault .rsTabs {
	width: 101%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.rsDefault .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: 20%;
  color: #333;
  text-decoration: none;
  *display: inline;
  *zoom: 1;
}
.rsDefault .rsTab img {
  max-width: 95%;
  padding: 5% 5% 0 0;
}
/***************
*
*  3. Preloader
*
****************/
.rsDefault .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../img/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
